
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;700&display=swap');
<<<<<<< HEAD
=======



   


>>>>>>> db172291859bb790a00c0e5d5c3f71933ec13658
* {
    margin: 0;
    padding: 0;   
}
<<<<<<< HEAD
a{
    text-decoration: none;
}
=======

    
    





/*


@media screen and (max-width: 760px){
    body{
        width: 100%;
        display: block
    }
    header, h1, ul {
        width: 100%;
  
} */

>>>>>>> db172291859bb790a00c0e5d5c3f71933ec13658
body{
    background-color: aliceblue;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f2f2f2; 
}
header .header_img {
    width: 80px;
}
header h1 {
    color: purple;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 5px 4px #aaa;
}
nav{
    background-color: #eee;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li{
   padding: 10px;
   font-family: 'Open sans', sans-serif;
   font-weight: 400px;
   border-right: 2px solid #fff; 
}
ul li:last-child {
    border-right: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

li:hover {
    border-bottom: 2px solid #9507d6;
}

#intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50hv;
    margin: 10px 100px;
    padding: 10px;
    background-color: #f4f6f8;
}
.intro_img {
    width: 200px;
    height: 30vh;
    background-size: cover;
    border-radius: 200px;
}
#right {
    margin: 30px
}
#right h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px 0
}
#right p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 20px;
}
#intro #right a {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid rgb(125, 11, 201);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.9);
}
#intro #right a:hover {
    transition: 1.5s;
    background-color:#7305a7;
    color: #fff;
}
.language h1 {
    margin-top: 40px;
    text-align: center;
    color:#7305a7; 
}
.language h1::before{
    content: '';
    border: 2px solid red;
    margin: 0 5px;
}
.language_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 30px 0;
}
.items {
    margin: 10px 10px;
    background-color: #e8f7f8;
    position: relative;
    transition: 0.5s ease-out;
    border-radius: 10px;
}
.items img {
    width: 300px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.items .description {
    background-color:#3eb658;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    color: #fff;
}
.items:hover, .items:focus {
    transform: scale(1.1);
    transition: 0.5s ease-out;
    opacity: 0.7;
    overflow: hidden;
    background-color: #f0acf0;
}
.items:hover h2 {
    position:absolute;
    transform: translate(50%, -50%);
    bottom: 50%;
    right: 50%;
    transition: 1.5s;
    color:#9507d6
}
.top {
    position: fixed;
    bottom: 12%;
    right: 0;
}
.top a {
    background-color: rgb(53, 2, 77);;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;    
}
footer {
    text-align: center;
    background-color: #535554;
    padding: 0  0 20px;
}
footer img {
    width:20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #979b99;
}
footer h3 {
    padding: 10px 0;
}
footer img:hover{
   background-color: #f2f2f2; 
   transition: 2s;
   box-shadow: 0 4px 12px 0 rgba(0,0,0,0.9);
}
@media screen and (max-width: 576px){
    header .header_img {
        width: 40px;
    }
    header{
        padding: 5px 20px;         
    }
    header h1 {
        font-size: 18px;
    }
    #intro {
        display: block;
        margin: 0;
        text-align: center;
        height: 100vh
    }
    ul {
        justify-content: flex-end;
    }
    
    .intro_img {
        padding: 20px 0;       
    }
    #right p {
        font-size: 16px;
        text-align: left;
        line-height: 25px;
        word-wrap: wrap;
        color: #550779
    }
    .top {
        right: 5%;
        bottom: 14%;
    }
}
