
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;   
}
/* body{
    width: 1200px;
    
    margin: 10px 100px;
    
}
header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 70px;
    height: 70px;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: purple;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    float: right;
    display: flex;
}
ul li{
    
    margin: 0 10px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
nav {
    margin-bottom: 50px;
}
 
li:hover{
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
    border-bottom: 5px solid purple;
}
#intro {
    background-color: #eee;
    margin: 40px;
    padding: 0 20px;    
}
#btn_contact_me {
    padding: 12px 30px;
    border-radius: 24px;
    border: 0px solid #a55aa5;
    cursor: pointer;
    color: #f9faf9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: linear-gradient(to top right, rgb(105, 2, 105), rgb(230, 202, 226));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin-top: 20px;
}
#btn_contact_me:hover{
    cursor: pointer;
    background:  #03772a;
    transition: 2s;
}


.left {
    float: left;
    width:35%;
    
    text-align: center;
}
.right {
    float: right;
    width: 60%;
    padding: 10px 12px;
    line-height: 25px;
    
}
#intro:after{
    clear: both;
    display: table;
    content: " ";
}
#intro img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    padding: 50px 0;    
}


@media screen and (max-width: 760px){
    body{
        width: 100%;
        display: block
    }
    header, h1, ul {
        width: 100%;
    }
} */

body{
    background-color: aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f2f2f2; 
}

header .header_img {
    width: 80px;
}

header h1 {
    color: purple;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 5px 4px #aaa;
}

nav{
    background-color: #eee;
    /* box-shadow:  0 8px 16px 0 rgba(0,0,0.2); */
    /* padding: 10px 20px; */
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 100px;
}

ul li{
   padding: 10px;
   font-family: 'Open sans', sans-serif;
   font-weight: 400px;
   border-right: 2px solid #fff; 
}

ul li:last-child {
    border-right: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

li:hover {
    border-bottom: 2px solid #9507d6;
}

#intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50hv;
    margin: 0 100px;
    padding: 10px 20px;
    background-color: #f4f6f8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);

    
}

.intro_img {
    width: 200px;
    height: 30vh;
    background-size: cover;
    border-radius:100px;
}


#left {
   
}

#right {
    margin: 30px
}

#right h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px 0
}

#right p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 20px;
}

#intro #right a {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid rgb(125, 11, 201);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.9);
}

#intro #right a:hover {
    transition: 1.5s;
    background-color:#7305a7;
    color: #fff;
}
